
a.start{color: black; margin-left:550px ;
    background-color: pink;border-radius: 1em;display: block;width: 80px; text-align: center;}
    body{background-color: ivory;margin: 20px;text-align: center;background-image: url(images/);}
    h2{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
   a{text-decoration: none;}